<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tracks</title>
    <link href='css/bootstrap.css' rel='stylesheet'>
</head>
<body>
    <div class='container'>
        <form action="tracks" method="POST">
            <select name="select_folder" id="select_folder">
            {% for key, values in data.items() %}
                <option value="{{ key }}">{{ key }}</option>
            {% endfor -%}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='js/bootstrap.js'></script>
</body>
</html>