<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tracks</title>
    <link href='css/bootstrap.css' rel='stylesheet'>
</head>
<body>
    <div class='container-fluid'>
        <form action="." method="POST">
            {% for key, value in links.items() %}
                <!-- <h3>{{ key }}</h3> -->
                <h4>{{ value }}</h4>
            {% endfor -%}
            <input type="submit" value="Back">
        </form>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='js/bootstrap.js'></script>
</body>
</html>
